@import './base.css';

#app {
  max-width: 1280px;
  margin: 10% auto;
  padding: 2rem;
  font-weight: normal;
}

.centered {
  text-align: center;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.left-wrap {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.right-wrap {
  display: inline-flex;
  justify-content: flex-end;
}

.footer-btn {
  min-width: 30%;
}

.formitem > input {
  padding: 3px;
  transition: 0.4s;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.shbtn {
  text-decoration: none;
  padding: 7px;
  transition: 0.2s;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.reg-btn {
  color: #fff;
  background: rgb(28, 189, 0);
}

.reg-btn:active {
  background: rgb(21, 143, 0);
}

.warn-btn {
  border: 1px solid rgb(189, 28, 0);
}

.link-btn {
  cursor: pointer;
  color: rgb(0, 104, 104);
  border-radius: 8px;
  padding: 3px;
}

.link-btn:hover {
  color: #fff;
  background: rgb(0, 61, 61);
}

.bw-filter {
  filter: grayscale(100%);
}

.formgroup {
  flex: 1 1 300px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.fg-styled {
  padding: 15px;
  border-radius: 15px;
  border: 2px solid rgb(28, 189, 0);
}

.fg-subgroup {
  border-radius: 15px;
  border: 2px solid #000;
  margin: 5px 0 5px 0;
}

.fg-subgroup > * {
  margin: 5px;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  max-height: 10%;
  overflow: hidden;
  background-color: #cfcfcf;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

[data-bs-theme='dark'] body {
  background-color: #212529;
  color: #f8f9fa;
}

[data-bs-theme='dark'] .fg-subgroup {
  border-color: #f8f9fa;
}

[data-bs-theme='dark'] .formitem > input {
  background-color: #2b3035;
  color: #f8f9fa;
  border-color: #495057;
}

[data-bs-theme='dark'] .link-btn {
  color: #6ea8fe;
}

[data-bs-theme='dark'] .header-fixed {
  background-color: #101113;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.favicon {
  height: 32px;
  width: 32px;
}

.novis {
  display: none !important;
}

@media (max-width: 768px) {
  .footer-wrap {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .left-wrap {
    justify-content: center;
  }
}
